priority -55

snippet qs "question" b
# ${1:question_title}

**Link:** ${2:source} 

## Question Description: 

${3:description}

## Answer: 

${4:answer}
endsnippet

snippet "in(box)?" "inbox" br	
# ${1:inbox_title}

${2:text}

endsnippet
